[submodule "paho.mqtt.c"]
	path = paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "paho.mqtt.java"]
	path = paho.mqtt.java
	url = https://github.com/eclipse/paho.mqtt.java.git
[submodule "paho.mqtt.python"]
	path = paho.mqtt.python
	url = https://github.com/eclipse/paho.mqtt.python.git
[submodule "paho.mqtt.javascript"]
	path = paho.mqtt.javascript
	url = https://github.com/eclipse/paho.mqtt.javascript.git
